.todo_add_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    position: relative;
    width: 70%;
}

.todo_input {
    width: 100%;
    border-radius: 50px;
    padding: 15px 15px;
    margin-right: 3px;
    border: none;
    font-size: 15px;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.todo_input:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
  }

.todo_add {
    position: absolute;
    right: 0;
    width: 50px;
    height: 5vh;
    margin: 12px;
    border-radius: 70px;
    border: none;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    box-shadow: 0 0 5px black;
}

.todo_add:hover {
    background-color: rgba(0, 0, 255, 0.471);
}

.todo_add:active {
    transform: scale(0.8);
    box-shadow: 0 0 2px black;
}


