* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*styles for layout*/

#flex-container {
    display: flex;
    flex-flow: row wrap;
}

#flex-container>* {
    margin: 10px;
    padding: 5px;
    flex: 1 100%;
}

header {
    background-color: darkslategray;
    color: white;
}

#section1 {
    background-color: rgb(240, 238, 238);
    flex: 1;
}

#section2 {
    background-color: rgb(240, 238, 238);
    flex: 1;
}

#section3 {
    background-color: rgb(240, 238, 238);
}

footer {
    background-color: lightblue;
}

@media all and (max-width: 950px) {
    #section1 {
        flex: 1 100%;
    }

    #section2 {
        flex: 1 100%;
    }
}

/*styles for header*/
header > h2 {
    font-size: 2rem;
    padding: 3px;
}
header > div {
    font-size: 1.5rem;
    padding: 3px;
}

/*styles for section1*/
.title {
    font-size: 1.5rem;
}
#section1 p{
    padding: 10px;
}

/*styles for section2*/
#section2 li {
    padding: 15px;
}

/*styles for section3*/
.form-item {
    padding: 10px;
}
#submit {
    padding: 5px;
    border: none;
    background-color: lightblue;
}
#submit:hover {
    background-color: blue;
}

/*styles for footer*/
footer {
    font-size: 2rem;
}